# =====================================
# macOS
# =====================================
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*$py.class

# Distribución
build/
dist/
*.egg-info/
.eggs/

# =====================================
# Entornos virtuales
# =====================================
venv/
.venv/
env/
ENV/
.env/

# =====================================
# Dependencias y cachés
# =====================================
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.tox/
.coverage
htmlcov/

# =====================================
# Jupyter Notebook
# =====================================
.ipynb_checkpoints/

# =====================================
# Editores / IDEs
# =====================================
.vscode/
.idea/
*.swp

# =====================================
# Variables de entorno
# =====================================
.env
*.env

# =====================================
# Logs
# =====================================
*.log